.experience_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem ;
}
.experience_container > div{
    background-color: var(--color-bg-variant);
    border-radius: 2rem;
    padding: 2.4rem 5rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience_container > div:hover{
    background-color: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;

}

.experience_container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);

}
.experience_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
}

.experience_details{
    display: flex;
    gap: 1rem;
}

.experience_details-icon{
    margin-top: 6px;
    color: var(--color-primary);
}

article div{
    text-align: left;
}



/* ============= MEDIA QUERIES (MIDIUM DEVICES) ============== */
@media screen and (max-width: 1024px) {
    
    .experience_container{
        width: var(--container-width-md);
        grid-template-columns: 1fr;
    }
    .experience_container > div{
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
    .experience_content{
        padding: 1rem;
    }
}

/* ============= MEDIA QUERIES (SMALL DEVICES) ============== */
@media screen and (max-width: 600px) {
    
    .experience_container{
        gap: 1rem;
    }
    .experience_container > div{
        width: 100%;
        overflow: hidden;
        padding: 2rem .5rem;
    }
}