nav{
    background-color: rgba(0, 0, 0, .3);
    width: max-content;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: .8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
    bottom: 1rem;
}
nav a{
    background-color: transparent;
    padding: .9rem;
    display: flex;
    border-radius: 50%;
    color: var(--color-light);
    font-size: 1.1rem;
}
nav a:hover{
    background-color: rgba(0, 0, 0, .3);
}

nav a.active{
    /* background-color: var(--color-bg); */
    background-color: var(--color-primary);
    color: var(--color-bg);
}